root = true

[*]
end_of_line = lf

[*.md]
trim_trailing_whitespace = false
insert_final_newline = true

[*.html]
charset = utf-8
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[{*.css,*.scss}]
charset = utf-8
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[{*.js,*.jsx}]
charset = utf-8
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true